* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: "Lato", sans-serif;
  text-align: center;
  background: #ececec;
  min-height: 100vh;
  padding-top: 1px;
}

.mini-app {
  background: white;
  padding: 10vh 10vw;
  border: 1px solid #ccc;
  margin: 2em;
}
.mini-app * {
  margin-bottom: 1rem;
}
button {
  background: #223c54;
  border: none;
  padding: 0.5em 1em;
  color: white;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background: rgb(41, 72, 100);
  cursor: pointer;
  /* transform: scale(1.02); */
}
input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  margin-right: 1em;
}
